 <div>
 <h2>Template Form</h2>
  <form (ngSubmit)="updateHero()" #heroForm="ngForm" novalidate>
  <div class="row editpanel">
    <div class="col-md-4"> <img [src]="'./assets/PNG/' + hero.imagePath"/></div>
    <div class="col-md-8">

        <div class="form-group row">
          <label for="" class="col-md-3 col-form-label">Id:</label>
            <div  class="col-md-9">
              <strong> {{hero.id}}</strong>
            </div>
        </div>

     <div class="form-group row">
        <label for="" class="col-md-3 col-form-label">Name:</label> 
        <div  class="col-md-9">
         <input type="text" [(ngModel)]="hero.name" name="name" id="name"  class="form-control" required #name> 
        </div>
    </div>

     <div class="form-group row">
       <label for="" class="col-md-3 col-form-label">Image:</label> 
         <div  class="col-md-9">
       <input type="text" [(ngModel)]="hero.imagePath" name="imagePath" id="imagePath" class="form-control" required>
       </div>
    </div>





     <div class="form-group row">
       <label for="" class="col-md-3 col-form-label">Class:</label> 
         <div  class="col-md-9">
        <select  [(ngModel)]="hero.heroClass"  name="heroClass" id="heroClass">
            <option *ngFor=" let key of keys" [value]="key" [label]="heroClasses[key]"></option>
          </select>
       </div>
    </div>



     <div class="form-group row">
       <label for="" class="col-md-3 col-form-label">Strength:</label> 
        <div  class="col-md-9">
       <input type="number" [(ngModel)]="hero.strength" name="strength" id="strength" class="form-control" #strength="ngModel" required validateAttribute>
           <div class="" *ngIf="strength?.errors?.invalidAttribute">Value must be 1 - 20</div>
       </div>
    </div>

     <div class="form-group row">
       <label for="" class="col-md-3 col-form-label">Constitution:</label> 
        <div  class="col-md-9">
       <input type="number" [(ngModel)]="hero.constitution" name="constitution" id="constitution" class="form-control" required>
       </div>
    </div>

     <div class="form-group row">
       <label for="" class="col-md-3 col-form-label">Dexterity:</label> 
        <div  class="col-md-9">
       <input type="number" [(ngModel)]="hero.dexterity" name="dexterity" id="dexterity" class="form-control" required>
       </div>
    </div>

     <div class="form-group row">
       <label for="" class="col-md-3 col-form-label">Intelligence:</label> 
        <div  class="col-md-9">
       <input type="number" [(ngModel)]="hero.intelligence" name="intelligence" id="intelligence" class="form-control" required>
       </div>
    </div>
    <div class="form-group row">
       <label for="" class="col-md-3 col-form-label">Magic Attack:</label> 
        <div  class="col-md-9">
       <input type="number" [(ngModel)]="hero.magicAttack" name="magicAttack" id="magicAttack" class="form-control" required>
       </div>
    </div>

    <div class="form-group row">
       <label for="" class="col-md-3 col-form-label">Magic Defense:</label> 
        <div  class="col-md-9">
       <input type="number" [(ngModel)]="hero.magicDefense" name="magicDefense" id="magicDefense" class="form-control" required>
       </div>
    </div>

    <div class="form-group row">
       <label for="" class="col-md-3 col-form-label">Melee Attack:</label> 
        <div  class="col-md-9">
       <input type="number" [(ngModel)]="hero.meleeAttack" name="meleeAttack" id="meleeAttack" class="form-control" required>
       </div>
    </div>

    <div class="form-group row">
       <label for="" class="col-md-3 col-form-label">Melee Defense:</label> 
        <div  class="col-md-9">
       <input type="number" [(ngModel)]="hero.meleeDefense" name="meleeDefense" id="meleeDefense" class="form-control" required>
       </div>
    </div>

    <div class="form-group row">
       <label for="" class="col-md-3 col-form-label">Ranged Attack:</label> 
        <div  class="col-md-9">
       <input type="number" [(ngModel)]="hero.rangedAttack" name="rangedAttack" id="rangedAttack" class="form-control" required>
       </div>
    </div>


     <div class="form-group row">
        <button type="submit" class="btn btn-default" [disabled]="!heroForm.form.valid">Save</button>
       </div>

   </div>
   </div>
  <div>{{ heroForm.value | json }}</div>
  <div> Valid: {{heroForm.valid}}</div>
  <div>St:{{heroForm.strength?.errors?.attribute}}</div>
  <div>St:{{strength?.errors | json}}</div>
  </form>


    </div>