

<div class="row">

  <div class="col-md-12">
      <button (click)="saveHeroes()">Save</button>   <button (click)="loadHeroes()">Load</button>
  </div>
  </div>

<div class="row" *ngIf="!heroInEdit">

  <div class="col-md-6">
    <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" class="pagination-sm"
                (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
  </div>
  </div>





<div class="row">

  <div class="col-md-3"></div>
  <div class="col-md-6" *ngIf="!heroInEdit">
      <ul class="hero">
      <li *ngFor="let hero of heroes" class="row hero">
          <bjk-hero  [hero]="hero"></bjk-hero>
          <button (click)="editHero(hero)">Edit</button>
    </li>
      </ul>
  </div>

  <div class="col-md-6" *ngIf="heroInEdit">
      <bjk-hero-edit-template  [hero]="heroInEdit"></bjk-hero-edit-template>
      <button (click)="saveHero(hero)">Save</button>

  </div>



  <div class="col-md-3"></div>

  </div>
   